body{
    background-color: white;

}
html{
    scroll-behavior: smooth;
}
a{
    color: black;
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 90%;
    margin: auto;
}
.navegacion{
    background-color: white;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 60px;
}
.navegacion h2{
    flex: 1;
    margin: 20px;
}
.name{
    color: rgb(25, 25, 77);
    width: 50px;
}
.navegacion ul{
    display: flex;
}
.nav-menu{
    background-color: rgba(255, 255, 255, 0.873);
    border-radius: 10px;
    position: fixed;
    top: 0;
    right: 80px;
    padding: 20px;
}

.navegacion ul li a:hover{
    border-bottom: 3px solid rgb(39, 39, 105);
}
.banner{
    width: 100%;
    height: 470px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("img/imgbanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner h1{
    color: white;
    font-size: 80px;
    font-family: 'Uchen', serif;
}
.contenido-club{
    width: 100%;
    padding: 40px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(8, 1fr);
}
.contenido-club .sobre-elclub,
.contenido-club .aside-fotos {
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    text-align:left;
}
.sobre-elclub{
    grid-column: 1/7;
    margin-left: -35px;
    height: 1870px;
}
.aside-fotos{
    grid-column: 7/8;
    margin-right: -125px;
    height: 800px;
}
.sobre-elclub h2{
    color: rgb(25, 25, 79);
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
}
.sobre-elclub p{
    font-size: 23px;
    font-family: 'Taviraj', serif;
}
.sobre-elclub .p-pileta{
    font-size: 15px;
}
.video,
.sobre-elclub .p-video{
    align-items: center;
    font-size: 15px;
}
.contenedor-cuotas{
    background-color: rgb(7, 3, 53);
    height: 800px;
    color: white;
    text-align: center;
}
.contenedor-cuotas .cuotas{
    padding: 50px 0px;
}
.contenedor-cuotas h2{
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
}