body{
    background-color: white;

}
html{
    scroll-behavior: smooth;
}
a{
    color: black;
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 90%;
    margin: auto;
}
.container p{
    font-size: 18px;
}
.pag-cuotas{
    width: 80%;
    display: flex;
    justify-content: space-between;
    
}
.navegacion{
    background-color: rgba(255, 255, 255, 0.634);
    font-size: 19px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    
    
    
}
.logo{
    width: 60px;
}
.navegacion h2{
    flex: 1;
    margin: 20px;
}
.name{
    color: rgb(25, 25, 77);
    width: 50px;
}
.navegacion ul{
    display: flex;
    padding: 20px;
    

}
.navegacion ul li{
    
    display: flex;
    flex-direction: row;
}
.nav_menu{
    background-color: rgba(255, 255, 255, 0.873);
    border-radius: 10px;
    position: fixed;
    top: 0;
    right: 80px;
    padding: 20px;
}
#icono_menu{
    display: none;
}
.navegacion ul li a:hover{
    border-bottom: 3px solid rgb(39, 39, 105);
}
.banner{
    width: 100%;
    height: 470px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("img/imgbanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner h1{
    color: white;
    font-size: 80px;
    font-family: 'Uchen', serif;
}
.contenido-club{
    width: 100%;
    padding: 40px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(8, 1fr);
}
.contenido-club .sobre-elclub,
.contenido-club .aside-fotos {
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    text-align:left;
}
.sobre-elclub{
    grid-column: 1/7;
    margin-left: -35px;
    height: 1870px;
}
.aside-fotos{
    grid-column: 7/8;
    margin-right: -125px;
    height: 800px;
}
.sobre-elclub h2{
    color: rgb(25, 25, 79);
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
}
.sobre-elclub p{
    font-size: 23px;
    font-family: 'Taviraj', serif;
}
.sobre-elclub .p-pileta{
    font-size: 15px;
}
.video,
.sobre-elclub .p-video{
    align-items: center;
    font-size: 15px;
}
.contenedor-cuotas{
    background-color: rgb(7, 3, 53);
    height: 500px;
    color: white;
    text-align: center;
    width: 102.2%;
}
.contenedor-cuotas .cuotas{
    padding: 30px ;
}
.contenedor-cuotas .preciocuotas{
    display: flex;
    justify-content: center;
}
.contenedor-cuotas h2{
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
}
.preciocuotas h3{
    font-size: 20px;
    
}
.contenedor-cuotas .cartas{
    background-position: center center;
    background-size: cover;
    height: 150px;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
}
.cartas:first-child{
    background-image:linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.733),
        rgba(0, 0, 0, 0.733)
    ) 
    ,url("img/carta4.jpg");
    background-position: center center;
    background-size: cover;
}
.cartas:nth-child(2){
    background-image:linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.733),
        rgba(0, 0, 0, 0.733)
    ) 
    ,url("img/carta2.jpg");
    background-position: center center;
    background-size: cover;
}
.cartas:nth-child(3){
    background-image:linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.733),
        rgba(0, 0, 0, 0.733)
    ) 
    ,url("img/carta1.jpg");
    background-position: center center;
    background-size: cover;
}
.cartas:nth-child(4){
    background-image:linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.733),
        rgba(0, 0, 0, 0.733)
    ) 
    ,url("img/carta3.jpg");
    background-position: center center;
    background-size: cover;
}
.cartas:nth-child(5){
    background-image:linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.733),
        rgba(0, 0, 0, 0.733)
    ) 
    ,url("img/carta5.jpg");
    background-position: center center;
    background-size: cover;
}
.cartas:nth-child(6){
    background-image:linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.733),
        rgba(0, 0, 0, 0.733)
    ) 
    ,url("img/carta6.jpg");
    background-position: center center;
    background-size: cover;
}

.contenedor-cuotas .boton{
    margin: 25px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(90, 90, 209, 0.83);
    text-decoration: solid ;
}
.contenedor-cuotas .boton:hover{
    background-color: rgba(24, 24, 69, 0.633);
    color: white;
    border: 2px solid white;
}
.contenedor-beneficios{
    background-color: rgb(242, 205, 161);
    text-align: center;
    padding: 25px;
    width: 98.5%;
}
.contenedor-beneficios h2{
    color: rgb(25, 25, 79);
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 20px;
}
.contenedor-beneficios i {
    font-size: 23px;
}
.contenedor-deportes{
    width: 100%;
    background-color: aliceblue;
    padding: 15px;
    height: 900px;
    
}
.deportes img{
    border-radius: 10px;
    margin-left:35px;
    margin-top: 10px;
}
.contenido{
    background: #9ba2f1;
    width: 100%;
    padding: 15px;
    margin: auto;
    
    border-radius: 4px;
    color: black;
    box-shadow: 7px 13px 37px rgba(245, 245, 245, 0.418);

}
.titulo{
    text-align: center;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin-bottom: 30px;
    height: 40px;
    border-bottom: 2px solid;
}
.form {
    margin: 0;
    padding: 1em;
    font-size: 17px;
    font-family:'Times New Roman', Times, serif;
}
.form button {
    width: 100%;
    background: #091f54ad;
    border: none;
    padding: 10px;
    margin: 9px 0px;
    color: white;
    font-size: 20px;
    
}
.form button:hover,
.form button:focus{
    background: rgb(71, 106, 196) ;
    color: black;
    transition: background-color 1s ease-out;
}
.form input,
.form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    border: none;
    background: none;
    outline: none;
    color: black;
    border-bottom: 1.8px solid blueviolet;

}
.footer-conteiner{
    background-color: rgb(195, 195, 195);
    width: 99.5%;
    padding: 20px;
    align-items: center;
    text-align: center;
}
.footer-conteiner h2{
    color: rgb(25, 25, 79);
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 20px;
}
@media (max-width: 1280px){
    #icono_menu{
        display: block;
        cursor: pointer;
        font-size: 25px;
    }
    .navegacion ul li{
        padding: 20px;
        flex-direction: column;
        /*background: rgba(128, 128, 128, 0.832);*/
        transition: all 300ms;
        
    }
    .nav_menu{
        
        height: 0 ;
        background-color:transparent;
        position: absolute;
        right: 67px;
        top: 50px;
        overflow: hidden;
        width: 200px;
        z-index: 10;
        transition: all 300ms;
    }
    /*esta clase es manipulada por javascript*/
    .mostrar_menu{ 
        height: 160px;
        background-color: rgba(128, 128, 128, 0.832);
    }

}

